* {
  padding: 0;
  margin: 0;
  outline: 0;
  list-style: none;
}
html, body {
  height: 100%;
  width: 100%;
}
.video-box {
  position: relative;
  background-size: cover;
  overflow: hidden;
  height: 100%;
}
.video {
  margin-top: -240px;
}
#input {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 400px;
  height: 40px;
  border-radius: 20px;
  font-size: 18px;
}
#start, #input {
  opacity: 0;
  position: absolute;
  top: 0;
}
.display-end {
  display: none;
  position: absolute;
  top: 0;
}
.show-end {
  position: absolute;
  width: 300px;
  height: 50px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}
.wrong-style {
  width: 600px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
  overflow: hidden;
}
.wrong-line {
  width: 600px;
  border-bottom: 1px solid rgba(125, 184, 233, .7);
  box-sizing: border-box;
}
.wrong-line:nth-child(3n) {
  border-color: #bda7d6;
}
.wrong-line:nth-child(2n) {
  border-color: rgba(135, 222, 210, .7);
}