* {
  padding: 0;
  margin: 0;
  outline: 0;
  list-style: none;
}
html, body {
  height: 100%;
  width: 100%;
}
.video-box {
  position: relative;
  background-size: cover;
  overflow: hidden;
  height: 100%;
}
.video {
  margin-top: -240px;
}
#input {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 400px;
  height: 40px;
  border-radius: 20px;
  font-size: 18px;
}
#start, #input {
  opacity: 0;
  position: absolute;
  top: 0;
}
.display-end {
  display: none;
  position: absolute;
  top: 0;
}
.show-end {
  position: absolute;
  width: 300px;
  height: 50px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}
.wrong-style {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
  overflow: hidden;
}
.wrong-line {
  width: 100%;
  border-bottom: 1px solid rgba(125, 184, 233, .7);
  box-sizing: border-box;
}
.wrong-line:nth-child(3n) {
  border-color: #bda7d6;
}
.wrong-line:nth-child(2n) {
  border-color: rgba(135, 222, 210, .7);
}

.sentences {
  width: 780px;
  height: 60px;
  position: absolute;
  /* text-align: center; */
  left: 50%;
  transform: translateX(-50%);
  bottom: 280px;
  line-height: 60px;
  font-size: 50px;
  font-weight: bolder;
  color: #fff;
  -webkit-text-stroke: 4px #000;
  z-index: 5;
}

/* .letter {
  margin-left: -17px;
}
.letter:first-child {
  margin-left: 0;
} */

.letter-right {
  color: #f00;
}
.letter-wrong {
  color: #00f;
}
.show {
  display: block;
}
.hide {
  display: none;
}